.container{
    background-color: #20182d;
    padding: 100px !important;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
}
.header{
    color: white;
    font-size: 26px;
}
.main{
    display: flex;
    gap: 30px;
    width: 100%;
}
.main-new{
    width: 200px;
    height: 200px;
}
.bo, .lop1, .lop2, .lop3{
    width: 200px;
    height: 200px;
}
.bo{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.bo .lop1{
    top: 0;
    left: 0;
    position: absolute;
    transition: 0.4s;
}
.bo:hover .lop1{
    transform: scale(1.2);
}
.bo .lop2{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    transition: 0.4s;
}
.bo:hover .lop2{
    opacity: 0.4;
    transform: scale(1.2);
}
.bo .lop3{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    opacity: 0;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center ;
    gap: 30px;
}
.bo:hover .lop3{
    opacity: 1;
    cursor: pointer;
}
.main-new h{
    color: white;
    font-size: 17px;
}
.main-new p{
    color: gray;
    font-size: 15px;
    padding-top: 7px;
}
.main-new h:hover{
    cursor: pointer;
    color: blueviolet;
}
.main-new span:hover{
    text-decoration: underline;
    cursor: pointer;
    color: blueviolet;
}
.main-new span1:hover{
    text-decoration: underline;
    cursor: pointer;
    color: blueviolet;
}
.main-new span2:hover{
    text-decoration: underline;
    cursor: pointer;
    color: blueviolet;
}
.new{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 32px !important;
}
.new:hover{
    background-color: rgba(206, 203, 203, 0.4);
}