@media only screen and (max-width: 600px) {
    .box {
        width: 80%;
    }
}

.body {
    justify-content: center;
    position: relative;
    top: 0px;
    height: 100vh;
    background-color: #ffffff;
}

.box {
    width: 50%;
    height: 50px;
    background-color: #d4d4d4;
    border-style: solid;
    border-width: 2px;
    color: #030303;
    font-size: 20px;
    line-height: 50px;
    transition: width 0.5s;
}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    transition: width 0.5s;
}

#square-red {
    width: 120px;
    height: 120px;
    background: red;
}

#square-blue {
    width: 120px;
    height: 120px;
    background: blue;
}

#square-green {
    width: 120px;
    height: 120px;
    background: green;
}

.item{
    font-size: 20px;
    color: blue;
}

table, th, td{
    border:1px solid white;
}
table{
    border-collapse:collapse;
}

.th1{
    background-color: rgb(80, 177, 104);
    color: #ffffff;
}

.th2{
    background-color: #f2f2f2;
}

tr.default{
    background-color: white;
}

tr:hover {
    background-color: #ddd;
}

.image-row {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.image-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    flex: 1;
    margin-right: 10px; 
}

.image-container img {
    display: block;
    max-width: 100%;
    height: auto;
    filter: blur(5px); 
    transition: filter 0.3s ease; 
}

.image-container:hover img {
    filter: blur(0); 
}