* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    width: 1920px;
    height: 1080px;
}
#img-banner1 {
    background-image: url("assets/img-banner-1/banner1.png");
    width: 1920px;
    height: 1080px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.img-text-1 {
    width: 450px;
    height: 400px;
    position: absolute;
    top: 190px;
    left: 640px;
    color: white;
}
.img-text-1 p:nth-child(1) {
    font-size: 40px;
}
.img-text-1 p:nth-child(2) {
    font-size: 80px;
}
.img-text-1 p:nth-child(3) {
    font-size: 50px;
}
.img-text-2 {
    width: 650px;
    height: 200px;
    position: absolute;
    color: white;
    left: 140px;
    bottom: 145px;
}
.img-text-2 p {
    padding-top: 20px;
    padding-bottom: 20px;
}
.img-text-2 p:nth-child(2) {
    font-size: 30px;
}