* {
    box-sizing: border-box;
}
.col {
    width: 25%;
    float: left;
    height: 100%;
    padding: 5px;
    position: relative;
    overflow: hidden;
}
.body1 {
    margin: 0;
    padding: 0;
    background-image: url("assets/img-banner-8/Background (5).png");
}
.body1:after {
    content: "";
    clear: both;
    display: block;
}
.image {
    width: 80%;
    transition: transform 0.3s ease;
}
.image:hover {
    transform: scale(1.2);
}
p {
    font-size: 30px;
}